#resultsTableDiv {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;

    > div:last-child {
        border-bottom: hidden;
    }

    .itemDivTitle {
        display: flex;
        flex-direction: row;

        border-bottom: 1px solid blue;

        .itemTitleName {
            margin-left: 24px;
            border-right: 1px solid blue;

            height: (16+8)px;
            width: 250px;

            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
        }

        .itemTitleQt {
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: 24px;

            text-align: right;
            width: 250px;

            font-size: 16px;
            font-weight: bold;
        }
    }


    .itemDiv {
        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom: 1px solid blue;

        .itemName {
            margin-left: 24px;
            border-right: 1px solid blue;

            height: (16+8)px;
            width: 250px;

            font-size: 16px;
            text-transform: capitalize;
        }

        .itemQt {
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: 24px;

            text-align: right;
            width: 250px;

            font-size: 16px;
        }
    }
}