.home {
    .header {
        display: flex;
        height: 88px;
        background-color: #3f51b5;

        h1{
            margin: auto;
        }
    }

    .constraints {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }

    .buttons-div {
        display: flex;
        flex-direction: row;

        align-items: center;

        margin-top: 20px;
    }
}